* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: #4c4d5f;
    font-family:Arial, Helvetica;
    font-size: smaller;
}

/* ========== GLOBAL DECLARATIONS FOR SOME ELEMENTS ======= */

a {
    text-decoration: none;
    color: #4c4d5f;
}

span {
    color: #00b289;
}

.bx-check {
    color: #00b289;
}

/* ========== NAV SECTION ========== */

#mainNav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    overflow: hidden;
    align-items: center;
    font-weight: bold;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img{
    width: 60px;
}

#logo p{
    font-weight: bolder;
    font-size: x-large;
}

nav {
    display: flex;
    gap: 30px;
}

.dropdown{
    display: flex;
    gap: 5px;
}

#icon {
    align-content: center;
}

.dropdown:hover .dropDownContent {
    display: block;
    margin-top: 20px;
}

.dropDownContent {
    position: absolute;
    min-width: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 2.5px #4c4d5f;
    display: none;
}

.dropDownContent a {
    display: block;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    background-color: #4c4d5f;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}


#loginButtons {
    display: flex;
    gap: 15px;
}

.logbtns a {
    border:1px solid #00b289;
}

.loginbtn a {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: #00b289;
    font-size: small;
    font-weight: bold;
}

.loginbtn a:hover {
    color: #ffffff;
    background-color: #00b289;
}


.startFreebtn a {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-size: small;
    font-weight: bold;
    background-color: #00b289;
}

.startFreebtn a:hover {
    color: #00b289;
    background-color: #ffffff;
}

/* ============ MAIN SECTION =================== */

#clip-path {
    clip-path: polygon(39% 0, 100% 0, 100% 47%, 74% 55%);
    background-color: #e2f0ff;
    height: 1250px;
    width: 1300px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

#plansNpricing {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

#plansNpricing h1 {
    font-family: "Arima";
}

#subPeriod {
    /* display: flex; */
    text-align: right;
}

#monthsFree {
    font-size: x-small;
    font-weight: bold;
}

#subChoice {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: smaller;
}

#monthly {
    font-weight: bold;
}

/* ============ TOGGLE SWITCH ============ */

input {
    cursor: pointer;
    margin: 1rem auto;
    position: relative;
    width: 40px;
    height: 22px;
    border-radius: 25px;
    outline: none;
    background-color: #ccc;
    -webkit-appearance: none;
    transition: 0.3s;
    background-color: #00b289;
}
input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

input:checked {
    background-color: #4c4d5f;
}

input:checked::after {
    left: 70%;
}



#workFlowCards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    
}

.workFlow {
    width: 350px;
    height: 600px;
    /* border: 1px solid #4c4d5f; */
    border-radius: 3px;
    box-shadow: 0 0 2.5px #4c4d5f;
    padding: 40px;
    background-color: #ffffff;
    position: relative;
    /* align-content: center;  for vertical align remeber to use it for dropdown icon*/
}

#workFlowClipPath {
    /* clip-path: polygon(58% 0, 73% 0, 100% 33%, 100% 53%); */
    clip-path: polygon(25% 0, 49% 0, 100% 39%, 100% 59%);

    background-color: #00b289;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

#workFlowClipPath P {
    position: relative; /* Ensures it's above the clip-path */
    z-index: 1;
    color: #000000; /* Ensures visibility */
    font-weight: bold;
    font-size: larger;
    text-align: center;
    top: 0px;
    right: 0px;
    /* transform: translateX(45%); */
    transform: rotate(45deg);

}

.dollarSign {
    font-size: x-large;
    font-weight: normal;
}

.priceTag {
    color: #4c4d5f;
    font-size: xx-large;
    font-weight: bold;
}

.workFlow p{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* hr {
    color: #00b289;
    background-color: #00b289;
} */

.workFlow ul{
    list-style-type: none;
    padding-top: 20px;
}

.workFlow ul li{
    padding-top: 10px;
}

#yellow {
    color: #ffffff;
    background-color: #f8db62;
}


.startFbtn{
    margin-top: 42px;
    background-color: #00b289;
    padding: 15px 100px 15px 100px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: smaller;
    font-weight: bold;
}

.wFB1 {
    margin-top: 110px;
}

.wFB2 {
    margin-top: 110px;
}

/* ================== SECOND SECTION ============ */
#secondSection {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

#firstText{
    text-align: center;
    font-family: "Arima";
    font-size: x-large;
}


#mainRectangle {
    margin-top: 40px;
}

.rectangles {
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* border: 1px solid #4c4d5f; */
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 2.5px #4c4d5f;
}

.rectanglePrices p {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    line-height: 0.7em;
}

.rectangleMonths {
    font-size: xx-small;
    color: #4c4d5f;
}

#learnMore {
    font-size: xx-small;
    font-weight: bold;
}

#card {
    height: 220px;
    background-color: #e2f0ff;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

}


#cardText {
    margin-left: 40px;
    font-family: "Arima";
    font-size: xx-large;
}

#cardButton {
    margin-right: 40px;
}


#cardStart {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-size: small;
    font-weight: bold;
    background-color: #00b289;
    border: none;
}

section {
    justify-items: center;
}

#faqTag {
    font-size: x-large;
}

#faq {
    margin-top: 30px;
    list-style-type: none;
}

.faqBoxes {
    display: flex;
    justify-content: space-between;
    gap: 500px;
}

#questions {
    display: flex;
    font-size: larger;
    padding-top: 10px;
}
/* =========================FOOTER SECTION ============== */

footer {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
    font-size: x-small;
}

.footerColums h3 {
    margin-bottom: 30px;
}

.footerColums li {
    padding: 5px;
}

footer ul{
   list-style-type: none;
}

#templates {
    margin-top: 30px;
}

#templates h3{
    margin-bottom: 10px;
}


/* =================== MEDIA QUERIES ================= */
@media (max-width:992px){
    #workFlowCards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        
    }
    
    .workFlow {
        width: 100%;
        height: 600px;

    }

    .faqBoxes {
        gap: 300px;
    }
    
}

